<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sunny管理平台-机构管理</title>
    <link th:replace="@{include/treetable-list-header}" rel="stylesheet" />
    <link th:href="@{/plugins/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
    <script th:src="@{/plugins/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
    <style>
        body{height:auto;font-family: "Microsoft YaHei";}
        button{font-family: "SimSun","Helvetica Neue",Helvetica,Arial;}
    </style>
</head>
<body class="hold-transition box box-main">
<input type="hidden" id="treeId" th:value="${menu.menuId}"/>
<input type="hidden" id="treeName" th:value="${menu.menuName}"/>
<div class="wrapper"><div class="treeShowHideButton" onclick="$.tree.toggleSearch();">
    <label id="btnShow" title="显示搜索" style="display:none;"><i class="fa fa-angle-double-down"></i></label>
    <label id="btnHide" title="隐藏搜索"><i class="fa fa-angle-double-up"></i></label>
</div>
    <div class="treeSearchInput" id="search">
        <label for="keyword">关键字：</label><input type="text" class="empty" id="keyword" maxlength="50">
        <button class="btn" id="btn" onclick="$.tree.searchNode()"> 搜索 </button>
    </div>
    <div class="treeExpandCollapse">
        <a href="#" onclick="$.tree.expand()">展开</a> /
        <a href="#" onclick="$.tree.collapse()">折叠</a>
    </div>
    <div id="tree" class="ztree treeselect"></div>
</div>
</body>
<script th:inline="javascript">
    $(function() {
        var url = ctx + "sys/menu/treeData";
        var options = {
            url: url,
            expandLevel: 2,
            onClick : zOnClick
        };
        $.tree.init(options);
    });

    function zOnClick(event, treeId, treeNode) {
        var treeId = treeNode.id;
        var treeName = treeNode.name;
        $("#treeId").val(treeId);
        $("#treeName").val(treeName);
    }
</script>
</html>
