<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Sunny管理平台-字典管理</title>
    <link th:replace="@{include/table-list-header}" rel="stylesheet" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form id="dictValue-form" th:object="${dictValue}" class="form-horizontal m" >
			<input type="hidden" name="dictTypeId" th:field="*{dictTypeId}" />
			<input type="hidden" name="dictTypeKey" th:field="*{dictTypeKey}" />
			<input type="hidden" name="dictValueId" th:field="*{dictValueId}"/>
			<div class="form-group">
				<label class="col-sm-3 control-label ">值标签：<font color="red">*</font></label>
				<div class="col-sm-8">
					<input class="form-control required" type="text" name="dictLabel" th:field="*{dictLabel}" placeholder="请输入值标签"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">值内容：<font color="red">*</font></label>
				<div class="col-sm-8">
					<input class="form-control required" type="text" name="dictValue" th:field="*{dictValue}" placeholder="请输入值内容"/>
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label ">是否默认值：<font color="red">*</font></label>
				<div class="col-sm-8">
					<input class="form-control required" type="text" name="isDefault" th:field="*{isDefault}" placeholder="请选择是否为默认值"/>
				</div>
			</div> -->
			<div class="form-group">
				<label class="col-sm-3 control-label ">值样式：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="cssClass" th:field="*{cssClass}" placeholder="请输入值样式"/>
				</div>
			</div>
		</form>
	</div>
</body>
<script th:inline="javascript">
var $table = null;
function doSubmit(table) {//回调函数，在编辑和保存动作时，供openDialog调用提交表单。
	$table = table;
	if(validateForm.form()){
		$("#dictValue-form").submit();
	}
} 

// 这个由于和字典type在同一个页面中，需要单独写，不能使用公共方法
$(function() {
	validateForm = $("#dictValue-form").validate({
		submitHandler: function(form){
			var url = ctx + "sys/dict/value/save";
			$.post(url, $("#dictValue-form").serializeJSON(), function(data){
				if(data.result.code === 200 || data.result.code === 201) {
					$.modal.msgSuccess(data.result.message);
					$table.bootstrapTable("refresh"); // 不能使用$table.refresh()
				} else {
					$.modal.alertError(data.message);
				}
				$.modal.close();
			});
		},
		errorContainer: "#messageBox",
		errorPlacement: function(error, el) {
			$("#messageBox").text("输入有误，请重新输入！");
			if (el.is(":checkbox")||el.is(":radio")||el.parent().is(".input-append")){
				error.appendTo(el.parent().parent());
			} else {
				error.insertAfter(el);
			}
		}
	});
});
</script>
</html>
