<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Sunny管理平台-岗位管理</title>
    <link th:replace="@{include/table-list-header}" rel="stylesheet" />
	<link th:href="@{/plugins/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
	<script th:src="@{/plugins/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form id="role-form" th:object="${role}" class="form-horizontal m">
			<input id="roleId" name="roleId" type="hidden" th:field="*{roleId}"/>
			<div class="form-group">
				<label class="col-sm-3 control-label ">角色名称：<font color="red">*</font></label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="roleName" id="roleName" th:field="*{roleName}" placeholder="请输入角色名称，不可为空，可重复"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">角色编号：<font color="red">*</font></label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="roleCode" id="roleCode" th:field="*{roleCode}" placeholder="请输入角色编号，不可为空，不可重复">
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<div class="onoffswitch">
                         <input type="checkbox" th:checked="${role.status == '0' ? true : false}" class="onoffswitch-checkbox" id="status" name="status">
                         <label class="onoffswitch-label" for="status">
                             <span class="onoffswitch-inner"></span>
                             <span class="onoffswitch-switch"></span>
                         </label>
                     </div>
				</div>
			</div> -->
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<textarea class="form-control" rows="5" name="remark" id="remark" th:field="*{remark}" placeholder="请输入角色描述信息，可为空"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">菜单权限</label>
				<div class="col-sm-8">
					<div id="menuTrees" class="ztree"></div>
				</div>
			</div>
		</form>
	</div>
</body>
<script th:inline="javascript">

</script>
</html>
