<script th:inline="javascript">
$(function() {
	
	$.dictHelper.post(orgMainCategroys, 'dict_org_main_categroy');
	$.dictHelper.post(treeNodes, 'dict_tree_node');
	
	$.treeTable.init(orgOptions);
	
	// 删除时，按钮可以点击
    $('#bootstrap-treeTable').on('check.bs.table uncheck.bs.table load-success.bs.table ' +
            				 'check-all.bs.table uncheck-all.bs.table', function () {
        $('#remove').prop('disabled', ! $('#bootstrap-treeTable').bootstrapTable('getSelections').length);
    });
    
    // 新增按钮
    $("#add").on('click', add);
    
    // 删除按钮
    //$("#remove").on('click', batRemove);
    
 	// 查询按钮
    $("#search").on('click', search);
    
    // 重置按钮
    $("#reset").on('click', reset);
	
});

var orgMainCategroys = new Map();
var treeNodes = new Map();
var canLook = true;
var prefix_org = ctx + "sys/org";

var orgOptions = {
	id: "orgId",
    parentId: "parentId",
    url: prefix_org + "/data",
    createUrl: prefix_org + "/add/",
    updateUrl: prefix_org + "/edit/{id}",
    saveUrl: prefix_org + "/save",
    removeUrl: prefix_org + "/remove",
    createSubUrl: prefix_org + "/addSub/{id}",
    modifyStatusUrl: prefix_org + "/modifyStatus",
    modalName: "机构",
    columns: [{
        field: 'orgName',
        title: '机构名称',
        width: '420px',
        formatter: function(row, index) {
        	if(canLook) {
        		return '<a href="#" title="查看详情" onclick="look(\'' + row.orgId + '\')">' + row.orgName + '</a>';
        	}
        	return row.orgName;
        }
    },
    {
        field: 'orgCode',
        title: '机构编号',
        align: "center"
    },
    {
        field: 'orgMainCategroy',
        title: '机构大类',
        align: "center",
        //width: '100px',
        formatter: function(row, index) {
            return $.dictHelper.get(orgMainCategroys, row.orgMainCategroy);
        }
    },
    {
        field: 'treeNode',
        title: '树节点',
        align: "center",
        //width: '70px',
        formatter: function(row, index) {
            return $.dictHelper.get(treeNodes, row.treeNode);
        }
    },
    /* {
        field: 'sort',	// TODO 排序功能暂时还未实现
        title: '排序',
        align: "center",
        width: '60px',
        formatter: function(row, index) {
           return '<a class="fa fa-long-arrow-down" title="下移"></a>   <a class="fa fa-long-arrow-up" title="上移"></a>';
        }
    }, */
    {
        field: 'remarks',
        title: '机构描述'
    },
    {
        field: 'createTime',
        title: '创建时间',
        align: "center"
    },
    {
        field: 'status',
        title: '状态',
        align: "center",
        //width: '80px',
	    formatter: function(row, index) {
	    	var status = row.status;
	    	if(status === "1"){
	    		return '<a href="#" onclick="unuse(\'' + row.orgId + '\')" class="btn btn-info btn-xs" title="可禁用"><i class="fa fa-check-circle"></i>已启用</a>';
	    	}else if(status === "2"){
	    		return '<a href="#" onclick="inuse(\'' + row.orgId + '\')" class="btn btn-danger btn-xs" title="可启用"><i class="fa fa-minus-circle"></i>已禁用</a>';
	    	}
	    }
    },
    {
        title: '操作',
        width: '90px',
        formatter: function(row, index) {
            if (row.parentId !== 0) {
                var actions = [];
                if(row.status === '1') {
	                actions.push('<a class="btn btn-primary btn-xs" title="添加子机构" href="#" onclick="addSub(\'' + row.orgId + '\')"><i class="fa fa-plus"></i></a> ');
	                actions.push('<a class="btn btn-success btn-xs" title="编辑机构" href="#" onclick="edit(\'' + row.orgId + '\')"><i class="fa fa-edit"></i></a> ');
	                if (row.treeNode === '2') {
	                	actions.push('<a class="btn btn-danger btn-xs" title="删除机构" href="#" onclick="remove(\'' + row.orgId + '\')"><i class="fa fa-remove"></i></a>');
	                }
	                return actions.join('');
                }
                return '<p class="btn btn-danger btn-xs" title="无法操作"><i class="fa fa-ban"></i></p>';
            } else {
                return "";
            }
        }
    }]
};

//搜索
function search() {
	$.treeTable.search("searchForm");
}

// 重置
function reset() {
  	$.treeTable.reset("searchForm");
}

// 查看机构详情
function look(id) {
	$.operate.details($.treeTable, id);
}

// 新建机构
function add() {
	$.operate.add($.treeTable);
}

// 添加子机构
function addSub(id) {
	$.operate.addSub($.treeTable, id);
}

// 编辑机构
function edit(id) {
	$.operate.edit($.treeTable, id);
}

// 删除机构
function remove(id) {
	$.operate.remove($.treeTable, id);
}

// 禁用
function unuse(id) {
	$.operate.unuse($.treeTable, {'orgId' : id});
}

// 启用
function inuse(id) {
	$.operate.inuse($.treeTable, {'orgId' : id});
}
</script>