<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Sunny管理平台-数据清理规则管理</title>
    <link th:replace="@{include/table-list-header}" rel="stylesheet" />
</head>
<body class="bg-white">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form id="rule-form" th:object="${rule}" class="form-horizontal m" >
			<input type="hidden" name="ruleId" th:field="*{ruleId}"/>
			<div class="form-group">
				<label class="col-sm-3 control-label ">规则类：<font color="red">*</font></label>
				<div class="col-sm-9">
					<input name="ruleClassName" th:field="*{ruleClassName}" maxlength="200" class="form-control required" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">规则类说明：<font color="red">*</font></label>
				<div class="col-sm-9">
					<input name="classComment" th:field="*{classComment}" maxlength="200" class="form-control required" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">规则方法：<font color="red">*</font></label>
				<div class="col-sm-9">
					<input name="ruleMethodName" th:field="*{ruleMethodName}" maxlength="200" class="form-control required" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">规则方法说明：<font color="red">*</font></label>
				<div class="col-sm-9">
					<input name="methodComment" th:field="*{methodComment}" maxlength="200" class="form-control required" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">是否需要切换数据源：<font color="red">*</font></label>
				<div class="col-sm-9" th:switch="*{dynamicDataSource}">
					<input name="dynamicDataSource" th:case="1" th:value="是" maxlength="200" class="form-control required" />
					<input name="dynamicDataSource" th:case="2" th:value="否" maxlength="200" class="form-control required" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">是否涉及多数据源：<font color="red">*</font></label>
				<div class="col-sm-9" th:switch="*{multipleDataSource}">
					<input name="dynamicDataSource" th:case="1" th:value="是" maxlength="200" class="form-control required" />
					<input name="dynamicDataSource" th:case="2" th:value="否" maxlength="200" class="form-control required" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">规则绑定任务数：<font color="red">*</font></label>
				<div class="col-sm-9">
					<input name="bindCount" th:field="*{bindCount}" maxlength="200" class="form-control required" />
				</div>
			</div>
			<!--<div class="form-group">
				<label class="col-sm-3 control-label ">规则参数模板：<font color="red">*</font></label>
				<div class="col-sm-9">
					<textarea name="argsTemp" th:field="*{argsTemp}" rows="10" class="form-control required" readonly></textarea>
				</div>
			</div>-->
		</form>
	</div>
</body>
<script type="text/javascript">
var $table = null;
function doSubmit(table) {//回调函数，在编辑和保存动作时，供openDialog调用提交表单。
	$table = table;
	if(validateForm.form()){
		$("#rule-form").submit();
	}
} 

var options = {
	rules:{},
	messages: {}
}

$(function() {
	validateForm = $.form.validate("rule-form", options);
});

</script>
</html>