<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Sunny管理平台-数据清理规则管理</title>
    <link th:replace="@{include/table-list-header}" rel="stylesheet" />
</head>
<body class="bg-white">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form id="rule-form" th:object="${rule}" class="form-horizontal m" >
			<input type="hidden" name="ruleId" th:field="*{ruleId}"/>
			<div class="form-group">
				<label class="col-sm-2 control-label ">规则名称：<font color="red">*</font></label>
				<div class="col-sm-10">
					<input name="ruleName" th:field="*{ruleName}" maxlength="50" class="form-control required" placeholder="请输入规则名称，不可重复，不可为空"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">表达式：<font color="red">*</font></label>
				<div class="col-sm-10">
					<input name="cron" th:field="*{cron}" maxlength="50" class="form-control required" placeholder="请输入表达式，不可为空"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">策略类型：<font color="red">*</font></label>
				<div class="col-sm-4">
					<select id="ruleStrategyType" name="ruleStrategyType" class="form-control required">
	                    <option th:each="dict : ${ruleStrategyTypes}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{ruleStrategyType}"></option>
	                </select>
				</div>
				<label class="col-sm-2 control-label ">规则类型：<font color="red">*</font></label>
				<div class="col-sm-4">
					<select id="ruleType" name="ruleType" class="form-control required">
		                    <option th:each="dict : ${ruleTypes}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{ruleType}"></option>
		                </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">是否默认：<font color="red">*</font></label>
				<div class="col-sm-4">
					<select id="isDefault" name="isDefault" class="form-control required">
	                    <option th:each="dict : ${isDefaults}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{isDefault}"></option>
	                </select>
				</div>
				<label class="col-sm-2 control-label ">天数：<font color="red">*</font></label>
				<div class="col-sm-4">
					<input name="days" th:field="*{days}" maxlength="50" class="form-control required" placeholder="请输入天数，不可为空"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">描述说明：</label>
				<div class="col-sm-10">
					<textarea name="remarks" style="resize:none" th:text="*{remarks}" rows="5" maxlength="1000" class="form-control "></textarea>
				</div>
			</div>
		</form>
	</div>
</body>
<script type="text/javascript">
var $table = null;
function doSubmit(table) {//回调函数，在编辑和保存动作时，供openDialog调用提交表单。
	$table = table;
	if(validateForm.form()){
		$("#rule-form").submit();
	}
} 

var options = {
		rules:{},
    	messages: {}	
}

$(function() {
	validateForm = $.form.validate("rule-form", options);
});

</script>
</html>