<script th:inline="javascript">
$(function() {
	
	$.table.init(ruleOptions);
	
	// 新增按钮
    $("#add").on('click', add);
	
 	// 查询按钮
    $("#search").on('click', search);
    
    // 重置按钮
    $("#reset").on('click', reset);
	
});

var canLook_rule = true;
var canEdit_rule = true;
var prefix_rule = ctx + "dataclean/rule";

var ruleOptions = {
	tableId: "rule-table",
    url: prefix_rule + "/data",
    createUrl: prefix_rule + "/add/",
    updateUrl: prefix_rule + "/edit/{id}",
    saveUrl: prefix_rule + "/save",
    removeUrl: prefix_rule + "/remove",
    sortName: "createTime",
    sortOrder: "desc",
    modalName: "清理规则",
    search: false,
    showExport: false,
    dblClickRow: function(row, $el) { // 双击行,修改编辑
    	if(row.status === "1" && !row.bindCount) {
    		dblClick(row.ruleId);
    	}
    }, 
    columns: [{
		checkbox: false
	}, {
	    field: 'ruleClassName',
	    title: '规则类',
	    formatter:function(value, row, index){
	    	value = value != null && value.length > 100 ? value.substring(0, 100) + " ..." : value;
	    	return '<a  href="#" onclick="look(\'' + row.ruleId + '\')">'+ value + '</a>';
	    }
	}, {
	    field: 'classComment',
	    title: '规则类说明'
	}, {
	    field: 'ruleMethodName',
	    title: '规则方法'
	}, {
	    field: 'methodComment',
	    title: '规则方法说明'
	}, {
	    field: 'dynamicDataSource',
	    title: '是否动态数据源',
        formatter:function(value, row, index){
	        return value == '1' ? '是' : '否';
        }
	}, {
	    field: 'multipleDataSource',
	    title: '是否多数据源',
        formatter:function(value, row, index){
            return value == '1' ? '是' : '否';
        }
	}, {
	    field: 'bindCount',
	    title: '绑定任务数'
	/*}, {
        field: 'operate',
        title: '操作',
        width: '50px',
        align: "center",
        events: {
	       'click .remove': function (e, value, row, index) {
	    	    remove(row.ruleId);
	        }
	    },
        formatter: function operateFormatter(value, row, index) {
        	var del = '';
        	if(row.bindCount) {
        		// do nothing
        	} else {
       			del = ' <a href="#" class="remove" title="删除"><i class="fa fa-remove"></i></a>';
        	}
	    	return [del].join('');
	    }*/
    }]
};

// 搜索
function search() {
	$.table.search("searchForm");
}

// 重置
function reset() {
	$.table.reset("searchForm");
}

// 查看详情
function look(id) {
	$.operate.details($.table, id);
}

//双击行编辑数据
function dblClick(id) {
	if(canEdit_rule) { // 有编辑权限才能修改
		$.operate.edit($.table, id);
	} else {
		$.modal.msg("您没有编辑权限！");
	}
}

//新增
function add() {
	$.operate.add($.table);
}

// 删除
function remove(id) {
	$.operate.remove($.table, id);
}
</script>